extends ../layouts/common.pug

block content
	
	h1 Product
	
	.d-flex.flex-wrap.justify-content-center
		each product in products
			.card(style='width: 15rem;').mr-4.mb-4
				img.card-img-top(src= product.image, alt='...')
				.card-body
					h5.card-title= product.name
					p.card-text= product.description
					a.btn.btn-primary(href='/cart/add/'+ product.id) Add to cart

		nav(aria-label='Search result page')
			ul.pagination
				li.page-item
					a.page-link(href=`?page=${pre}`) Previous
				each number in numberPages
					li.page-item
						a.page-link(href=`?page=${number}`)= number
				li.page-item
					a.page-link(href=`?page=${next}`) Next

		